@charset "utf-8";

p {
  font: pink;
}

main {
  font: blue;
}

section {
  display: flex;
}

 .box-1 {
  width: 100px;
  height: 100px;
  background-color: skyblue;
}

 .box-2 {
  width: 100px;
  height: 100px;
  background-color: red;
}

 .box-3 {
  width: 100px;
  height: 100px;
  background-color: gray;
}

.log {
  font: skyblue;
}